/* UserManagement.css */
.container {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #347928;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    background-color: #347928;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2b5d20;
  }
  
  .userList {
    list-style: none;
    padding: 0;
  }
  
  .userItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-item span {
    flex: 1;
    text-align: center;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .botonEditar {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .botonEditar:hover {
    background-color: #ec971f;
  }
  
  .botonEliminar {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .botonEliminar:hover {
    background-color: #c9302c;
  }
 
  